<!DOCTYPE html>
<html>
<head>
<!-- link to google-hosted jquery 
<script src="jquery-1.11.0.js" ></script>
<!--[if lt IE 9]>
	<script src="jquery-1.11.0.js"></script>
<![endif]-->
<script src="jquery-1.11.0.js" ></script>

<link rel="stylesheet" href="face.css">
<link rel="stylesheet" href="styler.css">
  <title>face</title>
   <script src="modernizr.min.js"></script>
  <script src="ai.js"></script>  
</head>
<body>

<div class="face" id="facechunk">
<iframe class="hideFrame" id="framer" src=""></iframe>
<div class="eyes">
<img id="eye-left" src="/images/faces/1/eye-left.png" />
<img id="eye-right" src="/images/faces/1/eye-right.png" />
</div>
<div class="mouth" id="mouthchunk">
<img id="mouthy" src="/mouth-1.jpg" />
</div>
<div class="nose" id="nosechunk">
<img id="nosey" src="/images/faces/1/nose.png" />
</div>
</div>
<script>

</script>

	
  
</body>
</html>