<!DOCTYPE html>
<!-- {% load staticfiles %}
{% load static %} -->
<html>
<head>
<link rel="stylesheet" href="../static/fpi.css" type="text/css"/>
<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, initial-scale=1">
<script src="../static/jquery-1.11.0.js" ></script>
<script src="../static/fpi.js" ></script>


<title>cloudenstein</title>

 <style type="text/css">
 

</style>
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KG5FWD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KG5FWD');</script>
<!-- End Google Tag Manager -->

<div class="controller" id ="face_controller">

<button onClick="eye_blink_left()" id="blink_left">wink left</button>
<button onClick="eye_blink_both()" id="blink_right">blink both</button>
<button onClick="eye_blink_right()" id="blink_both">wink right</button>
<button onClick="blush()" id="blush_butt">blush</button>
<button onClick="nose_wrinkle()" id="wrinkle_butt">Wrinkle</button>
<button onClick="frown_toggler()" id="frown_butt">Fr-tog</button>
<button onClick="frown(1)" id="frown_butt">Fr-dwn</button>
<button onClick="frown(0)" id="frown_butt">Fr-up</button>
<input id="eye_slider" class="slidey" type="range" value=50 min=0 max=100 oninput=" move_eyes()" >
<input id="eye_slider_up" class="slidey_up" type="range" value=50 min=0 max=100 oninput=" move_eyes_up()" >


</div>  <!-- end of face controls div -->

<div class='iframer'>
<iframe class="hideFrame" id="framer" src=""></iframe>
<input id="speak_text" type ="textarea"  placeholder="type here">
<br />
<br />
<button onClick="speak()" id="speak_butt">

</div>
<div id="brain_div">
<embed id="brain_mass" class="brain" src="../static/brain-mass.svg" >
<embed id="brain" class="brain" src="../static/brain.svg" >
<embed id="brain-mask-upper" class="brain-mask" src="../static/brainmask-upper.svg" >
<embed id="brain-mask-lower" class="brain-mask" src="../static/brainmask-lower.svg" >
</div>

<div class="eyebrows">
<embed id="eyebrow_left_0" class="eyebrow" src="../static/eyebrow_left.svg" >
<embed id="eyebrow_left_1" class="eyebrow" src="../static/eyebrow_left_d1.svg" >
<embed id="eyebrow_left_2" class="eyebrow" src="../static/eyebrow_left_d2.svg" >
<embed id="eyebrow_right_0" class="eyebrow" src="../static/eyebrow_right.svg" >
<embed id="eyebrow_right_1" class="eyebrow" src="../static/eyebrow_right_d1.svg" >
<embed id="eyebrow_right_2" class="eyebrow" src="../static/eyebrow_right_d2.svg" >
</div>


<div id="eyes" class="eyes" >
<embed id="pupil_left" class="pupil" src="../static/pupil_left.svg" >
<embed id="eye_left_3" class="eyesocket eye_left" src="../static/eyeball-left-3.svg" >
<embed id="eye_left_2" class="eyesocket eye_left" src="../static/eyeball-left-2.svg" >
<embed id="eye_left_1" class="eyesocket eye_left" src="../static/eyeball-left-1.svg" >
<embed id="eye_left_0" class="eyesocket eye_left" src="../static/eyeball-left-0.svg" >
<embed id="pupil_right" class="pupil" src="../static/pupil_right.svg" >
<embed id="eye_right_3" class="eyesocket eye_right" src="../static/eyeball-right-3.svg" >
<embed id="eye_right_2" class="eyesocket eye_right" src="../static/eyeball-right-2.svg" >
<embed id="eye_right_1" class="eyesocket eye_right" src="../static/eyeball-right-1.svg" >
<embed id="eye_right_0" class="eyesocket eye_right" src="../static/eyeball-right-0.svg" >
<!-- <embed id="eye_right" class="eyesocket eye_right" src="../static/eyeball-right.svg" > -->
	
</div>  <!-- end of eyeballs -->
<div class="face" id="face">
<embed id="nose_frown" class="nose" src="../static/frown_shading.svg" >
<div id="nose">

<embed id="nose_3" class="nose" src="../static/nose-3.svg" >
<embed id="nose_2" class="nose" src="../static/nose-2.svg" >
<embed id="nose_1" class="nose" src="../static/nose-1.svg" >
<embed id="nose_0" class="nose" src="../static/nose-0.svg" > 
</div> 
<script type="text/javascript">{nose_init();
	}
	</script>
	<div id="cheeks">
<embed id="cheek_left" class="cheek" src="../static/blush-left.svg" >
<embed id="cheek_right" class="cheek" src="../static/blush-right.svg" >
	
	
</div> 
<div id="mouth">
<embed id="mouth_0" class="mouth" src="../static/mouth-0.svg" >
<embed id="mouth_1" class="mouth" src="../static/mouth-1.svg" >
<embed id="mouth_2" class="mouth" src="../static/mouth-2.svg" >
<embed id="mouth_3" class="mouth" src="../static/mouth-3.svg" >
<embed id="mouth_4" class="mouth" src="../static/mouth-4.svg" >
<embed id="mouth_5" class="mouth" src="../static/mouth-5.svg" >
<embed id="mouth_6" class="mouth" src="../static/mouth-6.svg" >
<embed id="mouth_7" class="mouth" src="../static/mouth-7.svg" >
<embed id="mouth_8" class="mouth" src="../static/mouth-8.svg" >
<embed id="mouth_9" class="mouth" src="../static/mouth-9.svg" >
<embed id="mouth_10" class="mouth" src="../static/mouth-10.svg" >
<embed id="mouth_11" class="mouth" src="../static/mouth-11.svg" >
<embed id="mouth_12" class="mouth" src="../static/mouth-12.svg" >
<embed id="mouth_13" class="mouth" src="../static/mouth-13.svg" >
	</div>
</div>
<script type="text/javascript">
refresh_face();
brain_pulse();
</script>
</body>
</html>