<!DOCTYPE html>
<html>
<head>
	<script src="/static/jquery-1.11.0.js" ></script>

<title>rbeetlelabs - harvester</title>
<link rel="stylesheet" href="/static/cloudenstein.css" />
<script type="text/javascript">
var mention_text;
var datetime;
var urly


function getAuthed() 
  {
    var un = document.getElementById("unam").value;
var pw = document.getElementById("pawd").value;
urly='http://cloudenstein.rosemarybeetle.org/autho/?un='+un+'&pw='+pw
    $.getJSON( urly, function(mens) {
try {
  
    getDate();

document.getElementById("contentarea").innerHTML=mens.bodey;
document.getElementById("auth_status").innerHTML=mens.response;
document.getElementById("unam").value='';
document.getElementById("pawd").value='';
 
    }
catch (err){
  console.log('error on loading JSON = '+err)
    }
  });
}
var mention_text;
var datetime;
function fill_foam()
{
var wordy = document.getElementById("entry").value;
getDate();
  document.getElementById("foam").innerHTML+=datetime+' Comment: "'+wordy+'"'; 

}

function getDate()
{
  var currentdate = new Date(); 
datetime = "Last Sync: " + currentdate.getDate() + "/";
datetime += (currentdate.getMonth()+1)  + "/";
datetime += currentdate.getFullYear() + " @ ";
datetime += currentdate.getHours() + ":";
datetime += currentdate.getMinutes() + ":" ;
datetime += currentdate.getSeconds();
}
function mentions() 
  {
    $.getJSON( "http://cloudenstein.rosemarybeetle.org/recent_mentions", function(mens) {
try {
  var cont=mens.count;
  if (cont>0){
    mention_text=''; // clear mention_text

  for ( var i = 0; i < cont; i++ ) {
    getDate();
mention_text=datetime+': - New mention number '+String(i)+ 'with id:'+mens.mentions[i].status_id+' from user: @'+mens.mentions[i].screen_name+'('+mens.mentions[i].name+').<br />';
document.getElementById("foam").innerHTML+=mention_text;
  console.log('username '+String(i)+ '= '+mens.mentions[0].screen_name);
  console.log('id '+String(i)+ '= '+mens.mentions[0].status_id);
  console.log('name '+String(i)+ '= '+mens.mentions[0].name);
  
  
   }
  } else {
    getDate();
    mention_text=''; // clear mention_text
    document.getElementById("foam").innerHTML+=datetime+': '+mens.message+'<br />';
   console.log('no new mentions');
  }
  
  //speakTest(textu);
  
    }
catch (err){
  console.log('error on loading JSON = '+err);
    }
  });
}

window.periody={{period}}*1000;
window.toggler=1;
function harvest (){
  document.getElementById("framer").src = "http://cloudenstein.rosemarybeetle.org/recent_mentions";
  console.log('inside harvest')
}
var vari; // global variable
function toggle_harvesting (){

  if (window.toggler==1){
    console.log('inside toggle_harvesting() toggler=1')
      vari = setInterval(function(){ mentions()},window.periody);
      document.getElementById("heado").innerHTML='Mentionising...';
      getDate();
      document.getElementById("foam").innerHTML+=datetime+': Logs started...<br />';


      //vari = setInterval(function(){ mentions()},window.periody);
      window.toggler=0;
    }
  else if (window.toggler==0)
    {
      clearInterval(vari);
      console.log('inside toggle_harvesting() toggler=0')
      document.getElementById("heado").innerHTML='Mentionising paused<br />';
      getDate();
      document.getElementById("foam").innerHTML+=datetime+': Logs paused...';


      window.toggler=1;
      
    }

} 

</script>  

</head>
<body>
<div id="logonbanner" >
<div >
  <div class="righten"><span id="auth_status">log... on... </span><input type="text" id="unam"> <input type="password" id="pawd"><button  onClick="getAuthed()" >Go</button></div>
</div>
<div id="contentarea"></div>
</div>

</body>
</html>