<!DOCTYPE html>
<html>
<head>
	<script src="/static/jquery-1.11.0.js" ></script>

<title>rbeetlelabs - harvester</title>
<link rel="stylesheet" href="/static/cloudenstein.css" />
<script type="text/javascript">
var mention_text;
var datetime;
var urly


function getAuthed() 
  {
    var un = document.getElementById("unam").value;
    var pw = document.getElementById("pawd").value;
    urly='http://cloudenstein.rosemarybeetle.org/autho/?un='+un+'&pw='+pw
    $.getJSON( urly, function(mens) {
    try {
      getDate();
      document.getElementById("contentarea").innerHTML=mens.bodey;
      document.getElementById("auth_status").innerHTML=mens.response;
      document.getElementById("unam").value='';
      document.getElementById("pawd").value='';
    }
    catch (err){
      console.log('error on loading JSON = '+err)
    }
  });
}
var mention_text;
var datetime;
function fill_foam()
{
var wordy = document.getElementById("entry").value;
getDate();
  document.getElementById("foam").innerHTML+=datetime+' Comment: "'+wordy+'"'; 

}

function getDate()
{
  var currentdate = new Date(); 
datetime = "Last Sync: " + currentdate.getDate() + "/";
datetime += (currentdate.getMonth()+1)  + "/";
datetime += currentdate.getFullYear() + " @ ";
datetime += currentdate.getHours() + ":";
datetime += currentdate.getMinutes() + ":" ;
datetime += currentdate.getSeconds();
}

window.periody={{period}}*1000;
window.toggler=1;
function harvester (){
  document.getElementById("harvest_frame").src = "http://cloudenstein.rosemarybeetle.org/home";
  console.log('inside harvester')
}
var vari; // global variable
function toggle_harvesting (){

  if (window.toggler==1){
    console.log('inside toggle_harvesting() toggler=1')
      vari = setInterval(function(){ harvester()},window.periody);
      document.getElementById("heado").innerHTML='Harvesting...';
      getDate();
      document.getElementById("foam").innerHTML+=datetime+': Logs started...<br />';


      //vari = setInterval(function(){ mentions()},window.periody);
      window.toggler=0;
    }
  else if (window.toggler==0)
    {
      clearInterval(vari);
      console.log('inside toggle_harvesting() toggler=0')
      document.getElementById("heado").innerHTML='Harvesting paused<br />';
      getDate();
      document.getElementById("foam").innerHTML+=datetime+': Paused...';


      window.toggler=1;
      
    }

} 

</script>  

</head>
<body>
<div id="logonbanner" >
<div >
  <div class="righten"><span id="auth_status">log... on... </span><input type="text" id="unam"> <input type="password" id="pawd"><button  onClick="getAuthed()" >Go</button></div>
</div>
<div id="contentarea"></div>

</div>
<iframe id="harvest_frame" style="width:90%;height:90%;margin-top:200px;"></iframe>
</body>
</html>