<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static "cloudenstein.css" %} " />
<title>Cloudenstein, from RBeetleLabs</title>
</head>

<body>

<div id="banner"><h1>RBeetlelabs - cloudenstein</h1>

<p>Cloudenstein: miscellaneous variations on collective twitter activity.<br/>
Cloudenstein: Tweetenstein seeped out onto the cloud.</p>
</div>
<div id="main">

{% for tweeting in tweetings %}
    <a href="twitter.com/"{{tweeting.t_username}} > <img src=" {{ tweeting.t_avatar }} "/></a>
{% endfor %}

	</div>
  
</body>
</html>