<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static "cloudenstein.css" %} " />
<title>Cloudenstein, from RBeetleLabs</title>
</head>

<body>

<div class="banner"><div class="left-40"><h1>RBeetlelabs - cloudenstein</h1></div>
<div class="right-60">
<p>Cloudenstein: miscellaneous variations on collective twitter activity.<br/>
Cloudenstein: Tweetenstein seeped out onto the cloud.</p>
</div>
</div>

{% for tweeting in tweetings %}
    <img src=" {{ tweeting.t_avatar }} "/>
{% endfor %}

	
  
</body>
</html>