<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static "cloudenstein.css" %} " />
<script type="text/javascript">
$(document).ready(function() {
      $("#launch").click(function(event){
          $.getJSON('http://cloudenstein.rosemarybeetle.org/ltj/', function(jd) {
          	var un = document.getElementById("unam").value;
			var pw = document.getElementById("pawd").value;
			console.log('un='+un+' and pw='+pw)
             $('#stage').html('<p> Name: ' + jd.name + '</p>');
             $('#stage').append('<p>Age : ' + jd.age+ '</p>');
             $('#stage').append('<p> Sex: ' + jd.sex+ '</p>');
          });
      });
   });

</script>
<title>rbeetlelabs</title>
</head>

<body>

<div id="banner"><h1>rbeetlelabs</h1>
	<div id="stage"></div>
	<input type="text" id="unam"><br>
	<input type="text" id="pawd">
	<input type="submit" id="launch" value="go" onRelease="checkAuth()">

<p>Cloudenstein: miscellaneous variations on collective twitter activity.<br/>
Cloudenstein: Tweetenstein seeped out onto the cloud.</p>
</div>

</body>
</html>