<!DOCTYPE html>
<html>
<head>
	<script src="/static/jquery-1.11.0.js" ></script>

<title>rbeetlelabs</title>
<link rel="stylesheet" href="/static/cloudenstein.css" />
<script type="text/javascript">
var mention_text;
var datetime;
var urly

function getDate()
{
  var currentdate = new Date(); 
datetime =  currentdate.getDate() + "/"
                + (currentdate.getMonth()+1)  + "/" 
                + currentdate.getFullYear() + " @ "  
                + currentdate.getHours() + ":"  
                + currentdate.getMinutes() + ":" 
                + currentdate.getSeconds();
}
function getAuthed() 
  {
    var un = document.getElementById("unam").value;
var pw = document.getElementById("pawd").value;
urly='http://cloudenstein.rosemarybeetle.org/autho/?un='+un+'&pw='+pw
    $.getJSON( urly, function(mens) {
try {
  
    getDate();

document.getElementById("contentarea").innerHTML=mens.bodey;
document.getElementById("auth_status").innerHTML=mens.response;
document.getElementById("unam").value='';
document.getElementById("pawd").value='';
 
    }
catch (err){
  console.log('error on loading JSON = '+err)
    }
  });
}

</script>  

</head>
<body>
<div id="logonbanner" >
<div >
  <div class="righten"><span id="auth_status">log... on... </span><input type="text" id="unam"> <input type="password" id="pawd"><button onClick="getAuthed()">Go</button></div>
</div>
<div id="contentarea"></div>
</div>

</body>
</html>