<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static "cloudenstein.css" %} " />
<script type="text/javascript">
var mention_text;
var datetime;

function checkAuth() 
  {
    $.getJSON( "http://cloudenstein.rosemarybeetle.org/recent_mentions", function(mens) {
try {
  var cont=mens.count
  if (cont>0){
    mention_text=''; // clear mention_text

  for ( var i = 0; i < cont; i++ ) {
    getDate()
mention_text=datetime+': - New mention number '+String(i)+ 'with id:'+mens.mentions[i].status_id+' from user: @'+mens.mentions[i].screen_name+'('+mens.mentions[i].name+').<br />';
document.getElementById("stage").innerHTML+=mention_text;
  console.log('username '+String(i)+ '= '+mens.mentions[0].screen_name);
  console.log('id '+String(i)+ '= '+mens.mentions[0].status_id);
  console.log('name '+String(i)+ '= '+mens.mentions[0].name);
  
  
   }
  } else {
    getDate()
    mention_text=''; // clear mention_text
    document.getElementById("stage").innerHTML+=datetime+': '+mens.message+'<br />';
    console.log('no new mentions')
  }
  
  //speakTest(textu);
  
    }
catch (err){
  console.log('error on loading JSON = '+err)
    }
  });
}
// $(document).ready(function() {
//       $("#launch").click(function(event){
//           $.getJSON('http://cloudenstein.rosemarybeetle.org/ltj/', function(jd) {
//           	var un = document.getElementById("unam").value;
// 			var pw = document.getElementById("pawd").value;
// 			console.log('un='+un+' and pw='+pw)
//              $('#stage').html('<p> Name: ' + jd.name + '</p>');
//              $('#stage').append('<p>Age : ' + jd.age+ '</p>');
//              $('#stage').append('<p> Sex: ' + jd.sex+ '</p>');
//           });
//       });
//    });

</script>
<title>rbeetlelabs</title>
</head>

<body>

<div id="banner"><h1>rbeetlelabs</h1>
	<div id="stage"></div>
	<input type="text" id="unam"><br>
	<input type="text" id="pawd">
	<button id="launch" value="go" onRelease="checkAuth()">

<p>Cloudenstein: miscellaneous variations on collective twitter activity.<br/>
Cloudenstein: Tweetenstein seeped out onto the cloud.</p>
</div>

</body>
</html>