<!DOCTYPE html>
<html>
<head>
	<script src="/static/jquery-1.11.0.js" ></script>

<title>Mentioniser</title>

<script type="text/javascript">

function fill_framer(passer)
{

  document.getElementById("foam").innerHTML='inside fill_framer - passed argument = '+passer; 

}
function mentions() 
  {
    $.getJSON( "http://cloudenstein.rosemarybeetle.org/recent_mentions", function(mens) {
try {
  var cont=mens.count
  if (cont>0){
  for ( var i = 0; i < cont; i++ ) {
  console.log('username '+String(i)+ '= '+mens.mentions[0].screen_name);
  console.log('id '+String(i)+ '= '+mens.mentions[0].status_id);
  console.log('name '+String(i)+ '= '+mens.mentions[0].name);
  
  
   }
  } else {
    console.log('no new mentions')
  }
  
  //speakTest(textu);
  
    }
catch (err){
  console.log('error on loading JSON = '+err)
    }
  });
}

window.periody={{period}}*1000;
window.toggler=1;
function harvest (){
	document.getElementById("framer").src = "http://cloudenstein.rosemarybeetle.org/recent_mentions";
	console.log('inside harvest')
}
var vari; // global variable
function toggle_harvesting (){

	if (window.toggler==1){
		console.log('inside toggle_harvesting() toggler=1')
			vari = setInterval(function(){ mentions()},window.periody);
			//vari = setInterval(function(){ mentions()},window.periody);
			window.toggler=0;
		}
	else if (window.toggler==0)
		{
			clearInterval(vari);
			console.log('inside toggle_harvesting() toggler=0')
			window.toggler=1;
			
		}

} 

</script>  

</head>
<body>
<h1>Mentionising...</h1>
<div id="foam">toad</div>
  <div><p>hello world hello world..  hello world hello world..  hello world hello world..  hello world hello world..  hello world hello world..  hello world hello world..  hello world hello world..  hello world hello world..  hello world hello world..  hello world hello world..  hello world hello world..  hello world hello world..  hello world hello world..  hello world hello world.. </p>
    <p>  hello world hello world..  hello world hello world..  hello world hello world..  hello world hello world..  hello world hello world..  hello world hello world..  hello world hello world..  hello world hello world..  hello world hello world..  hello world hello world..  hello world hello world..  hello world hello world.. </p></div>
<iframe id="framer" src="" style="border: none:" width=100%></iframe>
<button onClick="toggle_harvesting()">Go</button><br />
<button onClick="fill_framer('test')">test</button>


<p>



</p>

</body>
</html>