#myCanvas {
z-index:0;
background-color: red;

}
#myCanvas2{
z-index:3;
background-color: yellow;
}
/* set up canvas style*/
.canvases {
position:absolute;
left:0px;
top:0px;
opacity:0.3;
background.opacity:0.5;
border:1px solid #ccffcc;
margin:0px;
}

.left-40  {
width:40%;
position absolute;
left: 0%;
}


.right-60  {
width:60%;
position absolute;
left: 40%;
}


}
.banner {
font-family: arial,verdana,_sans;
h1.line-height: 10%;
position: absolute;
left:0px;
top: 0px;
width:100%;
padding: 2px ;
background-color: #A9D0F5;
}

.centered{
position:absolute;
margin-left: auto;
margin-right: auto;
}

#pupil{
	z-index: 4;
}

#iris {
	z-index: 1;
}

#white {
	z-index: 0;
}
/*.hideFrame {
width:100%;
height: 1%;
display:none;
}
/* setting widths,heights to 100% to fill screen*/
html,body {
width: 100%;
height: 100%;
}


@media screen  {
html,body, #myCanvas, #myCanvas2 , #white, #pupil, #iris{
width: 100%;
height: 100%;
padding-bottom: 75%;
}
}*/