#myCanvas {
z-index:0;
background-color: red;

}
#myCanvas2{
z-index:3;
background-color: yellow;
}
/* set up canvas style*/
.canvases {
position:absolute;
left:0px;
top:0px;
opacity:0.3;
background.opacity:0.5;
border:1px solid #ccffcc;
margin:0px;
}

img {
	padding: 0%;
}

#banner {
font-family: arial,verdana,_sans;
h1.line-height: 10%;
position: absolute;
left:0px;
top: 0px;
bottom:80%;
width:100%;
padding: 2px ;
background-color: #A9D0F5;
}
#contentarea
{
	font-family: arial,verdana,_sans;
position: absolute;
left:0px;
top: 30px;
padding: 2px ;
}

#logonbanner {

	position: absolute;
	right:0%;
	top:0%;
	height: 30px;
	width: 100%;
	background-color: #A9E2F3;
	padding: 2px ;
}
.righten{
	position:absolute;
	float: right;
}

#main {
float:bottom;
position: absolute;
left:0px;
top: 100px;
bottom:0px;

}
}
.centered{
position:absolute;
margin-left: auto;
margin-right: auto;
}



#pupil{
	z-index: 4;
}

#iris {
	z-index: 1;
}

#white {
	z-index: 0;
}
/*.hideFrame {
width:100%;
height: 1%;
display:none;
}
/* setting widths,heights to 100% to fill screen*/
html,body {
width: 100%;
height: 100%;
}


@media screen  {
html,body, #myCanvas, #myCanvas2 , #white, #pupil, #iris{
width: 100%;
height: 100%;
padding-bottom: 75%;
}
}