p, body,h1,h2,h3,h4,h5, input,button {
	font-family: arial,verdana,_sans;
}
body{
	padding:5px;
}
h1{
  padding:5px;
	font-size: 100%;
	font-weight: 120%;
}



.slidey {
	cursor: pointer;
	color:black;
}

.slidey {
  cursor: pointer;
  color:black;
}
#blush_butt,  #wrinkle_butt {
  position: relative;
top: -2px;
}
button {
position: relative;
top: -10px;
  height: 38px;
  width: 47px;
  border-radius: 18px;
  
  
 background: rgba(255, 255, 255, 0);
  }

/* ====================  range sliders - respect to http://danielstern.ca/range.css/#/ ===============*/
/* ===================================================================================================*/
/* =================================== BREAK POINT    ================================================*/
/* ===================================================================================================*/
@media only screen and (min-width: 980px)  { 
  .face{
  position: relative;
  padding-top: 4%
}

  .controller {
  position: relative;
  left: 25%;
}
input[type=range] {
  -webkit-appearance: none;
  width: 15%;
  margin: 13.65px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 15%;
  height: 10.7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(255, 255, 255, 0);
  border-radius: 0px;
  border: 0.7px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 38px;
  width: 47px;
  border-radius: 18px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14.35px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0);
}
input[type=range]::-moz-range-track {
  width: 15%;
  height: 10.7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(255, 255, 255, 0);
  border-radius: 0px;
  border: 0.7px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 38px;
  width: 47px;
  border-radius: 18px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 15%;
  height: 10.7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(242, 242, 242, 0);
  border: 0.7px solid #000101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(255, 255, 255, 0);
  border: 0.7px solid #000101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 38px;
  width: 47px;
  border-radius: 18px;
  background: #ffffff;
  cursor: pointer;
  height: 10.7px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(255, 255, 255, 0);
}
/*============================ eyes vvvvvvvvvvvvv ======================*/
.pupil{
  z-index: 0;
  float:left;
  position:absolute;
  left:20%;
  top:15%;
  width:10%;
  height:100%;
}

#pupil_left{
  position: absolute;
  left:65%;
  top:5%;
  float: left;
  /*top:50%;
  width:10%;
  height:100%;*/
  
}
#pupil_right{
  
  position: absolute;
  top:5%;
  left:65%;
  float: left;
}
 .eyesocket {
  z-index: 1;


  width:50%;
  float:left;
}

.eye_left {
  position: absolute;
  left:0%;
  top:2%;
  width:50%;
}
.eye_right {
  position: absolute;
  left:50%;
  top:2%;
  width:50%;
}

.eyes{
  padding:5%;
  /*background-color: blue;*/
  position: relative;
  left: 25%;
  top:0%;
  margin-top: 0%;
  width:40%;
}

#eyeleft {
 width:50%;
 float: left;
 }
 /*============================*/
 #eyeright {
 width:50%;
 float: right;

 }
/* =====================================*/

#nose{
  width:40%;
  z-index: 4;
position: relative;
margin-top: -3%;
padding:0%;
margin-left:30%;

float: left;
 }

 .nose {
  position: absolute;
  top:0%;
  width: 75%;
  left:15%;
  float: left;
  
 }

 
.cheek {
  /*opacity: .75; /* standard pale flush*/
  z-index: 2;
position: absolute;

padding-top: 2%;

 }
 #cheek_left {
  opacity: .05;
  position: absolute;
left: 28%;
width:17%;
 }
 #cheek_right {
  opacity: .05;
  position: absolute;
left: 56%;
width:16%;
 }

}  
/* --------------------------- end of media query screens >980 --------- */
/*========================@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@=====================*/
/*------------------------ start of media query for screens <979 ----------------*/
/* ====================  range sliders - respect to http://danielstern.ca/range.css/#/ ===============*/
/* ===================================================================================================*/
/* =================================== BREAK POINT    ================================================*/
/* ===================================================================================================*/

@media only screen and (max-width: 979px)  { 

.face{
  position: relative;
  top:20%;
  padding-top: 10%
}
  .controller {
  position: relative;
  left: 2%;
}
  input[type=range] {
  -webkit-appearance: none;
  width: 80px;
  margin: 1x 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 80pxpx;
  height: 10.7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(255, 255, 255, 0);
  border-radius: 0px;
  border: 0.7px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 38px;
  width: 47px;
  border-radius: 18px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14.35px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0);
}
input[type=range]::-moz-range-track {
  width: 80px;
  height: 10.7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(255, 255, 255, 0);
  border-radius: 0px;
  border: 0.7px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 38px;
  width: 47px;
  border-radius: 18px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 80px;
  height: 10.7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(242, 242, 242, 0);
  border: 0.7px solid #000101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(255, 255, 255, 0);
  border: 0.7px solid #000101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid #000000;
  height: 38px;
  width: 47px;
  border-radius: 18px;
  background: #ffffff;
  cursor: pointer;
  height: 10.7px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(255, 255, 255, 0);
} /* -------------- end of inputs ------------------*/

/*============================ eyes vvvvvvvvvvvvv ======================*/
.pupil{
	z-index: 0;
	float:left;
	position:absolute;
	left:20%;
	top:45%;
	width:10%;
	height:100%;
}

#pupil_left{
	position: absolute;
	left:65%;
	float: left;
	/*top:-5%;*/
	width:10%;
	height:100%;*/
	
}
#pupil_right{
	
	position: absolute;
	left:65%;
	float: left;
}
 .eyesocket {
 	z-index: 1;


	width:50%;
	float:left;
}

.eye_left {
	position: absolute;
	left:0%;
	top:2%;
	width:50%;
}
.eye_right {
	position: absolute;
  left:50%;
	top:2%;
	width:50%;
}

.eyes{
	padding:5%;
	/*background-color: blue;*/
	position: relative;
	left: 5%;
	top:0%;
	margin-top: 0%;
	width:80%;
}

#eyeleft {
 width:50%;
 float: left;
 }
 /*============================*/
 #eyeright {
 width:50%;
 float: right;

 }
/* =====================================*/

#nose{
 	width:80%;
 	z-index: 4;
position: relative;
margin-top: -3%;
padding:0%;
margin-left:10%;

float: left;
 }

 .nose {
 	position: absolute;
 	top:0%;
 	width: 75%;
 	left:15%;
 	float: left;
 	
 }
 .cheek {
  /*opacity: .75; /* standard pale flush*/
  z-index: 2;
position: absolute;
padding-top: 8%

 }
 #cheek_left {
  opacity: .05;
  position: absolute;
left: 8%;
width:33%;
 }
 #cheek_right {
  opacity: .05;
  position: absolute;
left: 62%;
width:32%;
 }

 } /* -------------------- enbd of media query for screens <979 -----------------------*/
 /* ====================  range sliders - respect to http://danielstern.ca/range.css/#/ ===============*/
/* ===================================================================================================*/
/* =================================== BREAK POINT    ================================================*/
/* ===================================================================================================*/

@media only screen and (min-width: 800px)  { 





 #mouth{
 	width:70%;
 	float: center;
position: absolute;
top:350px;
margin-left:15%;
height: 90%;

 }

 body {
    /*background-color: orange;*/
    padding: 0%;
    margin:0%;
}
 
}


/*============================ screens with width less than 800px*/
@media only screen and (max-width: 799px)  {
/*#face{
	position: absolute;
	margin-top: 10%;
	margin-left:15%;
	margin-bottom: 20%;
	width: auto;
	height: 70%;
	background-color: yellow;
}*/

body {
    /*background-color: lightblue;*/
    padding: 0%;
    margin:0%;
}


/*#eyes{
	
	padding:0%;
	position: absolute;
	top: 0%;
	margin-top:10%;
	margin-left:0%;
	width:100%;
	
}*/


 #mouth{
 	width:60%;
 	float: center;
position: relative;
top:25%;
margin-left:20%;
height: 90%;

 }
}
/*============================*/
 
 /*============================*/
/*#ln-h-eyes{
	position: relative;
	margin-top:15%;
	height:2px;
}*/
/*============================*/
/*#ln-v-cen{
 	width:2px;
 	float: center;
position: relative;
margin:0%;
top:0%;
left:50%;
height: 200%;

 }*/
 /*============================*/
/*svg {
	height:50%;
 	margin:0%;
 	width:100%;
 	position: relative;
 }*/
 /*============================*/
 
 /*============================*/
/* #ln-v-cen{
width:2px;
float: center;
position: absolute;
margin:0%;
top:0%;
left:50%;
height: 100%;

 }*/
 /*============================*/
 
 /*============================*/

 